thead tr th {
  border:1px solid;
  width:100px;
  height:30px;
}

td {
    border:1px solid;
    width:100px;
    height:100px;
    vertical-align: top;
}

span.nr {
  font-weight: Normal;
  padding: 1px 4px 1px 4px;
  cursor: Pointer;
  outline: Solid 1px Transparent;
}

.event {
  border-left: Solid 12px #F0F0F0;
  font-size: 0.80rem;
  margin-top: 2px;
  padding: 2px 0 1px 2px;
  cursor: Pointer;
  box-shadow: 1px 1px 1px 0px #AAAAAA, inset 0px 0px 10px 100px #F0F0F0;
  color: #2284E6 !important;
  border-radius: 3px;
}